.artist-node-outer-wrapper {
    background-color: color;
    padding:'5px';
    border-radius: var(--middle-border-radius);
    position: absolute;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.artist-node-artist-name-div {
    display:inline-block;
    padding:2px;
    margin-top: -20px;
    background-color: color;
    word-wrap: break-word;
    text-align:center;
    border-radius: var(--middle-border-radius);
    width:100px;
}
