.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.chosen-artist-bar {
    height: 100%;
    width: 300px;
    background-color: var(--dark-azure-blue);
    display: flex;
    border-radius: var(--middle-border-radius);
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 0px 5px;
    flex-direction: column;
    text-align: center;
}

.chosen-artist-bar-scroll {
    height: 100%;
    background-color: var(--dark-azure-blue);
    box-sizing: border-box;
    border-radius: var(--middle-border-radius);
    overflow-x: auto;
    flex-direction: column;
    text-align: center;
}

.chosen-artist-bar-top {
    background-color: var(--light-azure-blue);
    border-radius: var(--middle-border-radius);
    margin: 5px 2px 10px 2px;
    padding: 5px;
}

.song-div {
    margin: 3px;
    border-radius: var(--small-border-radius);
    background-color: var(--light-azure-blue);
    padding: 5px;
}

.song-preview {
    border-radius: var(--small-border-radius);
    margin: 2px;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--light-azure-blue);
}

.song-wrapper {
    overflow: hidden;
    word-wrap: break-word;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.song-description {
    transition: max-height 0.3s linear;
    overflow: hidden;
    background: var(--green-blue);
    border-radius: var(--small-border-radius);
    padding: 0px;
}

.full-song-link-div {
    margin: 5px 5px 5px 5px;
    background-color: var(--light-azure-blue);
    border-radius: var(--small-border-radius);
    font-weight: bold;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
