.outer-slider-wrapper {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.inner-slider-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-input {
    cursor:pointer;
    width: 95%;
    height: 15px;
    border-radius: var(--small-border-radius);
}

.draggable-slider-div {
    display:flex;
    flex-direction:row;
    position:absolute;
    z-index:1000;
    top: 10px;
    left: 10px;
    width: 310px;
    background-color: var(--light-azure-blue);
    opacity: 0.9;
    padding: 5px;
    border-radius: var(--small-border-radius);
    align-items: center;
    justify-content: center;
}

.chosen-cluster-wrapper {
    display: flex;
    flex-grow: 1;
    background-color: "none";
    min-width: 0;
    cursor: "pointer",
}

.slider-description {
    position: absolute;
    top: 50px;
    margin: 5px;
    padding: 5px;
    border-radius: var(--small-border-radius);
    background-color: var(--light-azure-blue);
    opacity: 1;
}
