
.header {
    background-color: var(--light-azure-blue);
    padding: 10px;
    border-radius: 15px / 15px;
    margin-bottom: 10px;
    width: 100%;
    align-items: bottom;
    text-align: center;
    opacity: 0.95;
}

.nodeWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(34,34,34,0.95);
    border-radius: var(--big-border-radius);
    border: 2px rgb(121, 149, 173) solid;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    overflow: hidden
}

.nodeHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: '10px';
}

.artistsRow {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}

.artistWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    user-select: none;
}

.artistDiv {
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
}

.artistImg {
    margin-left: 0px;
    margin-top: 0px;
    user-select: none;
}

.colourWrapper {
    padding: 2px;
    background-color: var(--light-azure-blue);
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
}

.noselect {
    user-select: none;
}
