.wrapper {
    display: flex;
    padding: 10px;
    flex-grow: 1;
    background-color: none;
    min-width: 0;
    cursor: pointer;
}

.insideClusterBox {
    width: 100%;
    flex-grow: 1;
    background-color: var(--dark-azure-blue);
    position: relative;
    overflow: auto;
    border-radius: var(--middle-border-radius);
}

.dragging-box {
    width: 80px;
    height: 80px;
    background-color: var(--almost-white);
}

.progressbar .progress {
    background-color: var(--really-green);
    border-radius: 4px;
    transition: width 400ms ease-in-out;
    height: 100%;
  }

.progressbar {
    width: 50%;
    height: 30px;
    border-radius: var(--middle-border-radius);
    background-color: var(--almost-white);
    padding: 10px;
    margin: 10px;
}
