
.mainDiv {
    display: flex;
    flex:1;
    flex-direction: column;
    min-width: 0; /*this must be here!*/
}

.mainDivHeader {
    background-color: var(--almost-white);
    height: 30px;
    text-align: center;
    font-size: large;
    padding: 5px;
    border-radius: var(--big-border-radius);
    border: var(--border-preset);
}

.mainDivContent {
    display: flex;
    flex: 1;
    margin: 5px;
    overflow-y: auto;
    overflow-x: auto;

    margin: 5px;
    border-radius: var(--big-border-radius);
    border: var(--border-preset);
    background-color: var(--light-azure-blue);
}
