.recommendation-panel {
    height:70px;
    display:flex;
    padding:8px 5px 10px 0px;
    flex-direction:row;
    overflow-y: auto;
}

.you-might-like {
    position: absolute;
    margin-top:-25px;
    background-color: var(--light-azure-blue);
    border-radius:0px 10px 0px 0px;
    padding: 5px 5px 0px 0px;
    display: flex;
}

.you-might-like-description {
    width: 350px;
    position: absolute; 
    margin-top: -180px; 
    margin-left: 10px; 
    background-color: var(--light-azure-blue);
    opacity: 0.9;
    padding: 5px;
    border-radius: var(--middle-border-radius);
}
