
.spotify-image {
    margin: 10px;
}

.sideBarHeader {
    display: flex;
    align-items: center;
}

.sideBar {
    height: calc(100% - 10px);
    width: 300px;
    background-color: var(--almost-white);
    text-align: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: var(--big-border-radius);
    padding: 5px;
    margin: 5px;
    border: var(--border-preset);
}

.sideBarContent {
    padding: 5px 0px 5px 0px;
    text-align: left;
    overflow: auto;
    flex: 1;
}

.download-button {
    background-color: var(--light-azure-blue);
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: var(--small-border-radius);
}
