:root {
    --light-azure-blue: rgb(130, 240, 240);
    --dark-azure-blue: rgb(2, 125, 120);
    --pink: rgb(255, 51, 153);
    --almost-white: #e5f7f8;
    --green-blue: rgb(96, 200, 170);
    --really-green: rgb(0, 204, 0);

    --small-border-radius: 5px;
    --middle-border-radius: 10px;
    --big-border-radius: 20px;

    --border-preset: 2px solid black;
}

h1 {
    text-align: center;
}

h1, p, div {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.chosen-cluster-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    animation: createBox .25s;
}
@keyframes createBox {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.chosen-cluster-column {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0px;
    min-height: 0px;
    overflow-y: auto;
    overflow-x: auto;
}

.chosen-cluster-graph-div {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
}

.chosen-cluster-graph-div-inside {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: var(--dark-azure-blue);
    border-radius: var(--middle-border-radius);
    position: relative;
    overflow: auto;
}

.similar-cluster-row {
    height: 150px;
    display: flex;
    overflow-x: auto;
    min-width: 0px;
    margin-bottom: 10px;
}

.padding-margin {
    padding: 0px 5px 0px 5px;
    margin: 5px 10px 0px 0px;
    border-radius: var(--small-border-radius);
}

.go-back-div {
    width: 100px;
    flex: 0 0 auto;
    background-color: var(--dark-azure-blue);
    align-items: center;
    text-align: center;
}

.h3-no-padding {
    padding: 10 0 0 0;
    margin: 0;
}

.similar-cluster-div {
    width: 200px;
    flex: 0 0 auto;
    background-color: var(--dark-azure-blue);
    text-align: center;
}

.box-with-margin {
    transition: ease-in 2s;
    margin: 5px;
    background-color: var(--light-azure-blue);
    padding: 5px 20px 5px 20px;
    border-radius: var(--small-border-radius);
    animation: slide-up 0.4s ease;
}

.box {
    width: 100%;
    flex-grow: 1;
    background-color: var(--dark-azure-blue);
    border: black 5px solid;
    border-radius: var(--middle-border-radius);
    position: relative;
    overflow: auto;
  }

.text-align-center {
    text-align: center;
}

.shift-left {
    margin-left: -15px;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.artistWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    user-select: none;
}

.artistDiv {
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
}

.artistsRow {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}

.playerControls {
    width: 100%;
}

.empty-player {
    align-items: center;
    align-content: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    height: 60px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 3px 0px 3px 0px;
    margin: 5px;
    background-color: var(--light-azure-blue);
    border: var(--border-preset);
    border-radius: var(--big-border-radius);
}

.player {
    align-content: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    height: 100px;
    overflow-y: auto;
    overflow-x: auto;

    background-color: var(--light-azure-blue);

    margin: 5px;

    border: var(--border-preset);
    border-radius: var(--big-border-radius);

    transition: all 0.1s linear;
}

.playingSongArtists {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%;
    white-space: nowrap;
}

.playingSongName {
    margin: 0px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%;
    white-space: nowrap;
}

.flex1 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(--really-green);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.generic-description {
    border-radius: var(--big-border-radius);
    padding: 15px;
    margin: 15px;
    background-color: var(--light-azure-blue);
}

.generic-description-small-margin {
    border-radius: var(--big-border-radius);
    padding: 10px;
    margin: 10px;
    background-color: var(--light-azure-blue);
}

.position-absolute {
    position: absolute;
}
