
.page-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-azure-blue);    
}

.page-description-div {
    border-radius: var(--big-border-radius);
    border: var(--green-blue) solid;
    padding: 10px;
    margin: 10px;  
    width: 50%;  
    background-color: var(--light-azure-blue);
    text-align: center;
}

.very-big-button {
    background-color: var(--light-azure-blue);
    border-radius: var(--big-border-radius);
    border: var(--green-blue) solid;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 40px;
}
